
    body{
        font-family: 'Poppins', sans-serif;
        margin: 0px;
        padding: 0;
    }
    .text-effect{
        font-weight: 700;
        font-size: large;
    }
    ul{
        position: absolute;
        top:57%;
        left: 35%;
        transform:translate(-50%,-50%) ;
        margin: 0;
        padding: 0;
        display: flex;
    }
    ul li{
        list-style: none;
        letter-spacing: 15px;
        animation: animate 3s linear infinite;
    }
    @keyframes animate{
        0%{
            transform: translateX(-50px);
            letter-spacing: 15px;
            opacity: 0;
            color: rgba(173, 36, 116, 0.815);
        }
        10%{
            opacity: 1;
        }
        50%{
            letter-spacing: -15px;

        }
        100%{
            transform: translateX(50px);
            letter-spacing: 15px;
            opacity: 0;
            color: rgba(0, 132, 255, 0.692);
        }
    }
    ul li: :nth-child(1){
        animation-delay: 0s;
            
    }    ul li: :nth-child(2){
        animation-delay: .2s;
            
    }    ul li: :nth-child(3){
        animation-delay: .4s;
            
    }    ul li: :nth-child(4){
        animation-delay: .6s;
            
    }    ul li: :nth-child(5){
        animation-delay: .8s;
            
    }
        h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }

    .name-highlight{
        color:orange;
    }
    .color1{
        color:mediumaquamarine;
    }
    .container-sm{
        width: 40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%; 
        
    }
    .container-sm img{
        width: 80%;
    }
    .top-banner{
        background-image: url("Images/top-banner.png");
        background-repeat: no-repeat;
    }

    section{
        height: 500px;
        padding-bottom: 150px;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(45deg,lightsalmon,tomato);
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-weight: 700px;
    }
    .dream-area{
        background-image: url("Images/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    p{
        color: dimgray;
    }
    .single-experince{
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        height: auto;
        background-color:white;
    }
    .experince-area{
        background-image: url("Images/exp-bg.png");
        background-repeat: no-repeat;
        background-position: left;
    }

    #baby{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, lightsalmon, tomato);
        border-image-slice: 1;
    }
    #full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan) ;
    border-image-slice: 1;
    }

    footer p{
        text-align: center;
    }